<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.teacher">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Teacher"
        tools:targetApi="31">
        <activity
            android:name=".Add_Student"
            android:exported="false" />
        <activity
            android:name=".activity_manage_profile"
            android:exported="true"></activity>
        <activity
            android:name=".activity_student_details"
            android:exported="true"></activity>
        <activity
            android:name=".activity_app_info"
            android:exported="true"></activity>
        <activity
            android:name=".activity_leave_application_details"
            android:exported="false" />
        <activity
            android:name=".activity_leave_application_list"
            android:exported="false" />
        <activity
            android:name=".activity_add_timetable"
            android:exported="false" />
        <activity
            android:name=".activity_start_screen"
            android:exported="true" />
        <activity
            android:name=".activity_edit_teacher"
            android:exported="false" />
        <activity
            android:name=".activity_add_teacher"
            android:exported="true" />
        <activity
            android:name=".Upcomming_Event"
            android:exported="false" />
        <activity
            android:name=".activity_edit_profile"
            android:exported="false" />
        <activity
            android:name=".Student_List"
            android:exported="false" />

        <activity
            android:name=".activity_forgot_password"
            android:exported="false" />
        <activity
            android:name=".activity_login_page"
            android:exported="false" />
        <activity
            android:name=".Add_Syllabus"
            android:exported="false" />
        <activity
            android:name=".Results"
            android:exported="false" />
        <activity
            android:name=".Syllabus"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>